_site
.sass-cache
.jekyll-metadata
.jekyll-cache/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


teaching/BDML/.ipynb_checkpoints/
teaching/BDML/co_properties.csv.gz
	
teaching/UniNorte.html
teaching/UniNorte/Shapefiles_clase4/foreclosures/foreclosures.dbf

teaching/UniNorte/tabla1.html
teaching/UniNorte/tabla1.text
teaching/UniNorte/test.docx
teaching/UniNorte/test.Rmd
teaching/UniNorte/TEST1.R
*.history
teaching/UniNorte/.Rhistory
404.html
teaching/BDML.html
.Rproj.user
teaching/RecomSystems_slides/.Rhistory
teaching/BDML/Lecture04/.ipynb_checkpoints/L04_Spatial-checkpoint.ipynb
teaching/BDML/Lecture04/map.html
teaching/BDML/Lecture04/map_files/htmlwidgets-1.5.4/htmlwidgets.js
teaching/BDML/Lecture04/map_files/jquery-1.12.4/jquery.min.js
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/images/layers-2x.png
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/images/layers.png
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/images/marker-icon-2x.png
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/images/marker-icon.png
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/images/marker-shadow.png
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/leaflet.css
teaching/BDML/Lecture04/map_files/leaflet-1.3.1/leaflet.js
teaching/BDML/Lecture04/map_files/leaflet-binding-2.1.1/leaflet.js
teaching/BDML/Lecture04/map_files/leafletfix-1.0.0/leafletfix.css
teaching/BDML/Lecture04/map_files/proj4-2.6.2/proj4.min.js
teaching/BDML/Lecture04/map_files/Proj4Leaflet-1.0.1/proj4leaflet.js
teaching/BDML/Lecture04/map_files/rstudio_leaflet-1.3.1/images/1px.png
teaching/BDML/Lecture04/map_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
teaching/BDML/Lecture04/demo6_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
teaching/BDML/Lecture04/demo6_files/rstudio_leaflet-1.3.1/images/1px.png
teaching/BDML/Lecture04/demo6_files/Proj4Leaflet-1.0.1/proj4leaflet.js
teaching/BDML/Lecture04/demo6_files/proj4-2.6.2/proj4.min.js
teaching/BDML/Lecture04/demo6_files/leafletfix-1.0.0/leafletfix.css
teaching/BDML/Lecture04/demo6_files/leaflet-binding-2.1.1/leaflet.js
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/leaflet.js
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/leaflet.css
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/images/marker-shadow.png
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/images/marker-icon.png
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/images/marker-icon-2x.png
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/images/layers.png
teaching/BDML/Lecture04/demo6_files/leaflet-1.3.1/images/layers-2x.png
teaching/BDML/Lecture04/demo6_files/jquery-1.12.4/jquery.min.js
teaching/BDML/Lecture04/demo6_files/htmlwidgets-1.5.4/htmlwidgets.js
teaching/BDML/Lecture04/demo6.html
teaching/BDML/Lecture04/demo5_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
teaching/BDML/Lecture04/demo5_files/rstudio_leaflet-1.3.1/images/1px.png
teaching/BDML/Lecture04/demo5_files/Proj4Leaflet-1.0.1/proj4leaflet.js
teaching/BDML/Lecture04/demo5_files/proj4-2.6.2/proj4.min.js
teaching/BDML/Lecture04/demo5_files/leafletfix-1.0.0/leafletfix.css
teaching/BDML/Lecture04/demo5_files/leaflet-binding-2.1.1/leaflet.js
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/leaflet.js
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/leaflet.css
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/images/marker-shadow.png
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/images/marker-icon.png
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/images/marker-icon-2x.png
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/images/layers.png
teaching/BDML/Lecture04/demo5_files/leaflet-1.3.1/images/layers-2x.png
teaching/BDML/Lecture04/demo5_files/jquery-1.12.4/jquery.min.js
teaching/BDML/Lecture04/demo5_files/htmlwidgets-1.5.4/htmlwidgets.js
teaching/BDML/Lecture04/demo5.html
teaching/BDML/Lecture04/demo4_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
teaching/BDML/Lecture04/demo4_files/rstudio_leaflet-1.3.1/images/1px.png
teaching/BDML/Lecture04/demo4_files/Proj4Leaflet-1.0.1/proj4leaflet.js
teaching/BDML/Lecture04/demo4_files/proj4-2.6.2/proj4.min.js
teaching/BDML/Lecture04/demo4_files/leafletfix-1.0.0/leafletfix.css
teaching/BDML/Lecture04/demo4_files/leaflet-binding-2.1.1/leaflet.js
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/leaflet.js
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/leaflet.css
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/images/marker-shadow.png
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/images/marker-icon.png
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/images/marker-icon-2x.png
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/images/layers.png
teaching/BDML/Lecture04/demo4_files/leaflet-1.3.1/images/layers-2x.png
teaching/BDML/Lecture04/demo4_files/jquery-1.12.4/jquery.min.js
teaching/BDML/Lecture04/demo4_files/htmlwidgets-1.5.4/htmlwidgets.js
teaching/BDML/Lecture04/demo4.html
teaching/BDML/Lecture04/demo3_files/rstudio_leaflet-1.3.1/rstudio_leaflet.css
teaching/BDML/Lecture04/demo3_files/rstudio_leaflet-1.3.1/images/1px.png
teaching/BDML/Lecture04/demo3_files/Proj4Leaflet-1.0.1/proj4leaflet.js
teaching/BDML/Lecture04/demo3_files/proj4-2.6.2/proj4.min.js
teaching/BDML/Lecture04/demo3_files/leafletfix-1.0.0/leafletfix.css
teaching/BDML/Lecture04/demo3_files/leaflet-binding-2.1.1/leaflet.js
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/leaflet.js
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/leaflet.css
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/images/marker-shadow.png
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/images/marker-icon.png
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/images/marker-icon-2x.png
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/images/layers.png
teaching/BDML/Lecture04/demo3_files/leaflet-1.3.1/images/layers-2x.png
teaching/BDML/Lecture04/demo3_files/jquery-1.12.4/jquery.min.js
teaching/BDML/Lecture04/demo3_files/htmlwidgets-1.5.4/htmlwidgets.js
teaching/BDML/Lecture04/demo3.html
teaching/BDML/Lecture04/demo2.html
teaching/BDML/Lecture04/demo1.html
teaching/BDML/Lecture04/demo1.html
teaching/BDML/Lecture04/demo2.html
teaching/BDML/Lecture04/demo1.html
teaching/BDML/Lecture04/clase-04-main.zip
teaching/BDML/Lecture04/.Rhistory
teaching/BDML/03_Data_Cleaning.html
teaching/BDML/03_Data_Cleaning.html
teaching/BDML/03_Data_Cleaning.html
teaching/BDML/input/house_prices.rds
