

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  background: #fff;
  font-size: 14px;
  padding: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h3,

h5,
h6 {
  font-weight: 700;
  color: #000;
}
h2, h4{
  font-weight: 700;
  color: #af2433;
}

.a1 {
  color: #000;
}

a{
  color: #af2433;
}


.navbar{
    background-color: #af2433;
    border-color: #af2433;
}


.col-md-3{
  background: #fff;
}

.col-md-9{
  background: #fff;
  padding: 60px;
  padding-left: 20px;

}



.navbar-color{
    background-color: #af2433;;
    border-color: #E87722;
    font-color: #E87722;
    color: #E87722;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #E87722;
}

.navbar-inverse .navbar-brand {
  color: #FFF;
}

.navbar-inverse .navbar-text {
  color: #FFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
}


.panel-default > .panel-heading {
  background-color: #af2433;
  color: #FFF;

}


.navbar-inverse .navbar-brand:hover {
  color: #000;
}

.navbar .navbar-nav > li > a:hover {
  color: #000;
}

.collapse, .navbar-collapse{ color: #000; }

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}



/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.resize{
    width:80%; /* you can use % */
    height: 80%;    
    /* height: 200px; 
    width: 200px;*/
    border-radius: 50%;
}


/* CSS tags by Wouter Beeftink http://codepen.io/wbeeftink/pen/dIaDH */


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #000;
  color: white;
}

.tag:hover::after {
   border-left-color: #000;
}



