---
layout: header
---


<div class="container-fluid">


  <div class="row-fluid">

        <div class="col-md-3">
            <br>
            <br>
            <img src="/assets/images/ignacio_full.jpg" alt="profile picture"  class="resize" align="middle"/>
            <h2 class="name">Ignacio <br>
            Sarmiento Barbieri</h2>
            <!-- <h3 class="tagline">PhD Candidate</h3> -->
            <h4 class="tagline"><a class="a1" href="https://economia.uniandes.edu.co/" target="_blank">University of Los Andes</a></h4>

            <ul class="list-unstyled">
                <li class="email"><i class="fa fa-envelope"></i> i.sarmiento (at) uniandes.edu.co</li>

                <li class="email"><i class="fa fa-envelope"></i> ignaciomsarmiento (at) gmail.com</li>

                <li class="github"><i class="fa fa-github"></i><a class="a1" href="http://github.com/ignaciomsarmiento" target="_blank"> ignaciomsarmiento</a></li>

                <!--<li class="twitter"><i class="fa fa-twitter"></i><a class="a1" href="https://twitter.com/@IKISarmiento" target="_blank"> IKISarmiento</a></li> -->
            </ul>
        </div>

        <!-- ##################-->
        <!-- content -->
        <!-- ##################-->
        <div class="col-md-9"> {{ content }} </div>

</div>
</div>
